<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SupportsSwiftPackage</key>
	<true/>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>Template with custom file name and suffix.</string>
	<key>Summary</key>
	<string>Create a Swift file with a custom base name and suffix.</string>
	<key>SortOrder</key>
	<string>1</string>
	<key>Image</key>
	<dict>
		<key>FileTypeIcon</key>
		<string>swift</string>
	</dict>
	<key>AllowedTypes</key>
	<array>
		<string>public.swift-source</string>
	</array>
	<key>Platforms</key>
	<array/>
	<key>DefaultCompletionName</key>
	<string>File</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>FEATURE_IDENTIFIER</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Base Feature Name</string>
			<key>Description</key>
			<string></string>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>___FILEBASENAME___Feature</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>VAR_FEATURE_IDENTIFIER</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Varaible Name for Items:</string>
			<key>Description</key>
			<string></string>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string></string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_FEATURE_IDENTIFIER___View</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Name File Without View:</string>
			<key>Description</key>
			<string>The name of the file to create</string>
			<key>Type</key>
			<string>text</string>
			<key>NotPersisted</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
